
.service-area{
    background-color: #202020;
}
.service-area .title h1{
    color: white !important;
}
.card{
    border: none !important;
    height: 420px;
    transition: .4s;
}
.card-header{
    border-bottom: none !important;
    background-color: transparent !important;
}
.card-footer{
    border-top: none !important;
    background-color: transparent !important;
}
.service-title{
    color: #3a3a3a;
    font-weight: 600 !important;
    font-size: 1.6em !important;
}
.service-icon{
    font-size: 32px;
    margin-top: 10px;
    color: #F77F00;
}
.card:hover{
    transform: translateY(-12px);
    box-shadow: 0px 0px 12px 1px #F77F00;
}